<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="footer-section">
                <h5>Về chúng tôi</h5>
                <p>Digital Library - Thư viện sách điện tử hàng đầu</p>
            </div>
            <div class="footer-section">
            </div>
            <div class="footer-section">
                <h5>Theo dõi chúng tôi</h5>
                <div class="social-links">
                    <a href="https://www.facebook.com/groups/310256607480121" target="_blank"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.facebook.com/groups/310256607480121" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/batan_sachcuthuvien/" target="_blank"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
        </div>
    </div>
</footer>